.gbotao{
    color: white;
}

.linkText{
     font-size: 500% !important;
     color: white;
}

.caixa{
   background-color: #3F51B5;
   
}

.caixa2{
    background-color: #303F9F;
    height: 60px;
}